.html, body{
	height: 100%;
	background: white;
	background-color: #cccccc;
}
header .jumbotron{
	position: relative;
	background-color: #048BA8;
	height: 100px;
	margin: 0px;
}
.titulo-header{
	position: relative;
	top: 5px;
	font-size: 32px;
	color: #F3F3F3;
}
footer {
  height: 24px;
  background-color: #048BA8;
  color: #F3F3F3;
  text-align: center;
  display: block;;
}
main{
	min-height: calc(100vh - 159px)!important;
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
    background-attachment: fixed;
}
.loginBox{
	position: relative;
	top: 50px;
	background-color: rgba(233, 236, 239, 0.8);
}
.loginText{
	font-size: 26px;
}
.header-navbar{
	background-color: #2E4057;
	height: 35px;
}
a{
	text-decoration: none!important;
}
#logoubv{
	position: absolute;
	top: 10px;
	left: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
@keyframes rebote{
	0% {transform: scale(1);}
	25% {transform: scale(1.05);}
	50% {transform: scale(1);}
	75% {transform: scale(1.05);}
	100% {transform: scale(1);}
}
#loginErrorAlertm, .rebote{
	animation: rebote 0.7s;
}
.menu-items{
	width: 1200px;
	margin: auto;
	align-items: center;
    justify-content: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.menu-item, .menu-item2{
	flex: 0 0 30%;
	display: block;
	height: 150px;
	transition-duration: 0.4s;
	font-size: 38px;
}
.menu-item:hover, .menu-item2:hover{
	transform: scale(1.04);
	cursor: pointer;
}
.table th{
	background-color: #2F2D2E;
	color: white;
	font-weight: bold;
}
.table tr{
	background-color: #99C24D;
}
.table tr:hover{
	background-color: #F18F01!important;
}
.editar:hover, .borrar:hover{
	background-color: #2F2D2E!important;
	cursor: pointer;
}
.input-title{
	width: 100px;
}
@keyframes swal-animation-show{
	0% {transform: translateY(-1000px)}
	100% {transform: translateY(0px);}
}
.swal-animation-show{
	animation: swal-animation-show 0.4s;
}
#alertaError{
	animation: rebote 0.7s;
}
.link{
	color: #375975;
	cursor: pointer;
}
.listaEstudiantesAjax{
	width: 100%;
	max-height: 400px;
	overflow-y: auto;
	border: 1px solid #ced4da;
}
.estudiante-item:hover{
	background-color: #2196F3;
	color: white;
	cursor: pointer;
}
@media print{    
    .no-print, .no-print *{
        display: none!important;
    }
    .print{
    	display: block!important;
    }
}
@media all {
.page-break { display: none; }
}

@media print {
.page-break { display: block; page-break-before: always; }
}